[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pyinstaller = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
build = 'rd build /s /q & pyinstaller src\\main.py --onefile && rd build /s /q'
exe = 'dist\\main.exe'
